<p>
  Juicy's code lives on <a href="https://github.com/richo/juicy">Github</a>
  and the <a href="mailto:richo@psych0tik.net">author</a> can be contacted on
  <a href="https://twitter.com/rich0H">Twitter</a>
</p>
