<% proj = ::Juicy::Project.where(name: project).first %>
<% if proj %>
<p>
  <h3><em><%= proj.name %></em></h3>
  <% ::Juicy::Build.where(parent: proj.name).sort.each do |build| %>
    <%# This should be an object that we can drill into or some shit %>
    <ul><%= build.start_time %>
      <li><%= build.status %></li>
      <li><%= build.output if build.respond_to? :output %></li>
    </ul>
  <% end %>
</p>
<% else %>
  No such project.
<% end %>
