<h1>Hi from Juicy</h1>
<p>
  Hello! Welcome to Juicy. A an insane CI inatory thing, built on top of
  MongoDB and obscene amounts of caffiene.
</p>
<p>
In the past, this instance of Juicy has built code for:
<ul><% ::Juicy::Project.all.each do |p| %>
    <li><a href="<%= p.url_for p.name %>"><%= p.name %></a></li>
<% end %></ul>
</p>
