<!doctype html>
<html>
  <head>
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-combined.min.css" rel="stylesheet">
    <%# Note If this gets any further out of hand, actually make juicy.css %>
    <style>
      body { padding-top: 60px; }
      .build-output { white-space: pre-wrap; }
    </style>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.3/bootstrap.min.js"></script>
    <title>Juicy</title>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Juicy</a>
          <div class="nav-collapse">
            <ul class="nav">
              <%# <li class="active"><a href="#">Home</a></li> %>
              <%# <li><a href="#about">About</a></li> %>
              <%# <li><a href="#contact">Contact</a></li> %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
