<div class="row">
  <div class="span8">
    <div>
      <%= content %>
    </div>
  </div>
  <div class="span4">
    <div>
      <p>Quick Links</p>
      <ul>
        <li>richo on <a href="https://twitter.com/rich0H">twitter</a></li>
        <li>richo on <a href="https://github.com/richo">github</a></li>
        <li>JuiCI on <a href="https://github.com/richo/juici">github</a></li>
    </div>
  </div>
</div>
