<div class="row-fluid">
  <div class="span9">
    <div>
      <%= content %>
    </div>
  </div>
  <div class="span2 offset1">
    <div>
      <h3 class="block-header builds-header--failure">quick links</h3>
      <ul>
        <li>richo on <a href="https://twitter.com/rich0H">twitter</a></li>
        <li>richo on <a href="https://github.com/richo">github</a></li>
        <li>JuiCI on <a href="https://github.com/richo/juici">github</a></li>
    </div>
  </div>
</div>
