Getting support for JuiCI:

<ul>
  <li> File an <a href="https://github.com/richo/juici/issues">issue</a> (You'll need a github account)</li>
  <li> Find richo on <strong>irc.psych0tik.net</strong>, #hackery is a good place to look </li>
</ul>
