<h3>Environment:</h3>
<pre class="prettyprint">
<% build[:environment].each do |k, v| %>
 <%= "#{k}=#{v}" %>
<% end %>
</pre>
<h3>Priority:</h3>
<pre class="prettyprint">
<%= build[:priority] %>
</pre>
<h3>Command:</h3>
<pre class="prettyprint">
<%= build[:command] %>
</pre>
