development:
  sessions:
    default:
      database: juici
      hosts:
        - localhost:27017

production:
  sessions:
    default:
      database: juici
      hosts:
        - localhost:27017

test:
  sessions:
    default:
      database: juici-test
      hosts:
        - localhost:27017

heroku:
  sessions:
    default:
      database: juici
      uri: <%= ENV['MONGOLAB_URI'] %>
