<% builds.each_with_index do |build, idx| %>
  <div class="accordion" id="accordion<%= idx %>">
    <%= erb(:"partials/builds/show",
            :locals => { :build => build, :idx => idx, :display_title => "#{build[:workspace]} :: #{build.display_title}"}) %>
  </div>
<% end %>
