.build-heading-pending  { color: #111 }
:hover .build-heading-pending  { color: #111 }

.build-heading-failed   { color: #C10 }
:hover .build-heading-failed   { color: #C10 }

.build-heading-success  { color: #4A0 }
:hover .build-heading-success  { color: #4A0 }

.build-heading-started  { color: #CC0 }
:hover .build-heading-started  { color: #CC0 }
