<div class="build-output">
<%= case build.status
   when ::Juici::BuildStatus::PASS, ::Juici::BuildStatus::FAIL
     ansi_escaped(escaped(build.output)) if build.respond_to? :output
   when ::Juici::BuildStatus::START
     ansi_escaped(escaped(build.get_output))
   end
%>
 </div>
