<div class="build-sidebar">
<span><%= form_at(rebuild_url_for(build), {}, :submit => "Rebuild") %></span>
<% if build.status == Juici::BuildStatus::START %>
<span><%= form_at(kill_url_for(build),
                  {:project => build[:parent], :id => build[:_id]},
                  :submit => "Kill!") %></span>
<% end %>
</div>
