<div class="build-sidebar">
  <%= form_at(rebuild_url_for(build), {}, :submit => "Rebuild") %>
  <% if build[:status] == :started %>
    <%= form_at(kill_url_for(build),
                      {:project => build[:parent], :id => build[:_id]},
                      :submit => "Kill!") %>
  <% end %>
</div>
