<div class="build-sidebar">
<span><%= form_at(rebuild_url_for(build), {}, :submit => "Rebuild") %></span>
<% if build.status == Juici::BuildStatus::START %>
<span><%= form_at(kill_url_for(build),
                  {:workspace => build[:workspace], :id => build[:_id]},
                  :submit => "Kill!") %></span>
<% elsif build.status == Juici::BuildStatus::WAIT %>
<span><%= form_at(cancel_url_for(build),
                  {:workspace => build[:workspace], :id => build[:_id]},
                  :submit => "Cancel") %></span>
<% end %>
<span><a class="btn" href="<%= edit_url_for(build) %>">Edit</a></span>
</div>
