<h3 class="project-title"><a href="<%= build_url_for(project) %>"><%= project.name %></a><a style="margin-right:6px" class="btn pull-right" href="<%= build_url_for(build) %>">Link to this build</a></h3>
<div class="accordion" id="accordion0">
  <%= erb(:"partials/builds/edit", :locals => { :build => build, :idx => 0, :show => true }) %>
</div>
