<div class="row-fluid">

  <div class="span4">
    <%= erb(:"partials/index/recently_built") %>
  </div>

  <div class="span8">

    <h1 class="block-header">new</h1>
    <p>From here you can create a new build</p>
    <p>Name is a unique identifier for the project. It doesn't need to already exist, but builds for a like project need to be named identically</p>
    <p>Environment is a json hash of KEY - VALUE pairs, to be passed into the child environment</p>
    <p>Command is where the magic happens. Often they'll be longwinded, but a reasonable boilerplate might look <a href="#">something like this.</a><p>
    <hr>

    <form action="/builds/new" method="post" class="submit-build">

      <div class="row-fluid">

        <!-- First Column -->
        <div class="span3">
          <label>Project Name</label>
          <input type="text" name="project" value="<%= params[:project] %>" <%= "readonly" if params[:project] %>>
          <label>Environment</label>
          <input type="text" name="environment" placeholder="expects a valid json hash" value="">
          <label>Priority</label>
          <input type="text" name="priority" value="1">
        </div><!-- End first column -->

        <div class="span8 offset1">
          <label>Command</label>
          <textarea name="command" class="input-xxlarge" rows="4"></textarea>
          <%# TODO -> When callbacks get implemented %>
          <%# <label>Callback URL</label> %>
          <%# <input type="text" name="callback" class="span3"> %>
          <!-- <label><%# HACK %></label> -->
          <button type="submit">START BUILD</button>
        </div>

      </div>
    </form>
  </div>
</div>
