<h3 class="project-title"><a href="<%= build_url_for(workspace) %>"><%= workspace.name %></a><a class="btn pull-right" href="/builds/new?workspace=<%= workspace.name %>">New Build</a></h3>
<div class="accordion" id="accordion0">
  <%= erb(:"partials/builds/show", :locals => { :build => build, :idx => 0, :show => true }) %>
</div>
